* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
  border: none;
  outline: none;
  scroll-behavior: smooth;
  font-family: "poppins", sans-serif;
}

:root {
  --main-color: #0ef;
}

html {
  font-size: 62.5%;
  overflow-x: hidden;
}

body {
  background-color: #f4f5f7;
}

.header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  padding: 2rem 9%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #fff;
  z-index: 100;
}

.header.sticky {
  border-bottom: 0.1rem solid #e4e7f7;
}

.logo {
  color: #6070ff;
  font-size: 2.5rem;
  font-weight: 600;
  cursor: default;
}

.menu-logo {
  color: #fff;
}

.navbar a {
  color: black;
  font-size: 2rem;
  margin-left: 4rem;
}

.navbar a:hover {
  color: var(--main-color);
}

#menu-icon {
  font-size: 3.6rem;
  display: none;
}

.bx-menu {
  color: #6070ff;
}

.bx-x {
  color: white;
}

.hero-section {
  background-image: url("/assets/images/hero.png");
  background-position: center;
  background-size: contain;
  background-repeat: no-repeat;
  background-color: #fff;
  border-bottom-left-radius: 90px;
  padding: 25rem;
}

.social-icons img {
  width: 20px;
  height: 20px;
}

.social-icons {
  display: flex;
  gap: 1.4rem;
}

.header-logo {
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
}

.Bold {
  font-size: 6rem;
}

.hero-link {
  color: #6070ff;
  padding-top: 15px;
  font-size: 1.7rem;
}

/* Cards Section Styles */
.all-cards {
  padding: 10px;
  background-color: white;
  display: flex;
  gap: 20px;
  border-radius: 30px;
}

.all-cards > * {
  flex: 1;
}

.all-cards:nth-child(even) {
  flex-direction: row-reverse;
}

.card-content {
  display: flex;
  flex-direction: column;
  gap: 30px;
  padding: 55px 20px;
}

.content-heading h3 {
  padding-bottom: 15px;
  font-size: 4.5rem;
}

.info {
  display: flex;
  gap: 7px;
  align-items: center;
}

.light {
  opacity: 0.7;
  font-weight: 300;
}

.info img {
  height: 7px;
}

.content-lang {
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
  font-size: 1.35rem;
}

.content-lang p {
  color: #6070ff;
  padding: 5px 10px;
  background-color: #ebebff;
  border-radius: 10px;
}

.btn {
  font-size: 1.1rem;
  font-weight: bold;
  padding: 15px;
  width: 12rem;
  border-radius: 10px;
  border: 1px solid #6070ff;
  color: #6070ff;
  background-color: white;
  transition: all 0.2s ease-in-out 0s;
}

.btn:hover {
  color: white;
  background-color: #6070ff;
}

.btn:active {
  background-color: #2230d2;
  color: white;
}

.card-img img {
  margin: 5px;
  width: 100%;
  height: 95%;
}

.cards-section {
  display: flex;
  flex-direction: column;
  padding: 15rem;
  gap: 14rem;
  position: relative;
}

/* About Section Styles */
.about-section {
  display: flex;
  background-color: white;
  padding: 15rem;
  border-radius: 0 150px 0 0;
}

.about-me,
.sec-skills {
  width: 50%;
  display: inline-block;
  vertical-align: top;
  padding: 20px 0;
  box-sizing: border-box;
}

.myself {
  background-color: white;
  padding: 20px 0;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  gap: 22px;
  max-width: 600px;
}

.myself h4 {
  color: #333;
}

.p-size {
  font-size: 2rem;
  line-height: 1.3em;
}

.bold-p {
  font-weight: bold;
  font-size: 19px;
  padding: 10px;
}

.line {
  border-top: 1px solid #ccc;
  margin: 10px 0;
}

.Bold-h4 {
  font-size: 4.5rem;
}

.sec-skills {
  padding: 42px 20px;
  border-radius: 10px;
  max-width: 635px;
  display: flex;
  flex-direction: column;
  gap: 5px;
}

.skill-box {
  background-color: #f7f7f9;
  width: 12rem;
  height: 12rem;
  padding: 12px;
}

.skill-box img {
  display: flex;
}

.skill-box p {
  display: flex;
  flex-direction: column;
  padding-top: 16px;
  font-size: 1.5rem;
}

.lang {
  display: flex;
  gap: 12px;
  padding-bottom: 12px;
}

.arrow-style {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.align {
  padding-right: 24px;
}

.align-2 {
  padding-right: 68px;
}

/* Contact Section Styles */
.contact-sec {
  background-color: #6070ff;
  background-image: url("./assets/images/bg-contact-form-big.png");
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
  padding: 10rem 0;
}

.contact-wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 20px;
}

.contact-info {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 20px;
  color: white;
}

.contact-info p {
  text-align: center;
  width: 42%;
  font-size: 20px;
  line-height: 30px;
}

.contact-info h5 {
  font-size: 50px;
}

form {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

input,
textarea {
  padding: 15px;
}

.mod {
  margin: 0 auto;
}

.mod:hover {
  color: #6070ff;
  background-color: #fff;
}

.hide-popup {
  display: none;
}

.project-description {
  font-size: 2rem;
}

/* Popup Styles */
.pop-card {
  display: flex;
  flex-direction: column;
  padding: 25px;
  gap: 20px;
  width: 90%;
  max-width: 1000px;
  background-color: white;
  border-radius: 10px;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.5);
  z-index: 100;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.hidden {
  display: none;
}

.pop-card #close-popup {
  cursor: pointer;
  font-size: 30px;
  padding-right: 20px;
}

.desc-p {
  font-size: 1.5rem;
  line-height: 2.25rem;
  padding-bottom: 8px;
  opacity: 0.7;
}

.popcard-desc {
  display: flex;
  flex-direction: column;
  max-width: 670px;
}

.popcard-content {
  display: flex;
  flex-direction: row;
  gap: 20px;
}

.popcard-img img {
  width: 100%;
  height: auto;
}

.pop-btn {
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
  margin: 20px 20px 0 0;
}

.overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  padding: 0;
  margin: 0;
  background: rgba(0, 0, 0, 0.5);
  backdrop-filter: blur(3px);
  z-index: 10;
  display: none;
}

.add-overlay {
  display: block;
}

.crossbtn {
  display: flex;
  justify-content: space-between;
}

@media (max-width: 1024px) {
  html {
    font-size: 60%;
  }

  .cards-section {
    padding: 8rem;
    gap: 10rem;
  }

  .hero-section {
    padding: 17rem;
  }

  .card-content {
    gap: 15px;
  }

  .project-description {
    font-size: 1.8rem;
  }

  .about-section {
    padding: 8rem;
  }
}

@media (max-width: 768px) {
  html {
    font-size: 52%;
  }

  .hr-color {
    background-color: #6070ff;
    color: white;
  }

  #menu-icon {
    display: block;
  }

  .navbar {
    position: absolute;
    top: 100%;
    left: 0;
    width: 100%;
    height: 100vh;
    padding: 1rem 3%;
    background: white;
    border-bottom: 0.1rem solid rgba(0, 0, 0, 0.2);
    box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.2);
    display: none;
    background-color: #6070ffe2;
    backdrop-filter: blur(5px);
  }

  .navbar.active {
    display: block;
  }

  .navbar a {
    display: block;
    font-size: 5rem;
    margin: 3rem 0;
    font-weight: bold;
    color: white;
  }

  .hero-section {
    padding: 10rem;
  }

  .Bold {
    font-size: 4rem;
  }

  .cards-section {
    padding: 6rem;
    gap: 6rem;
  }

  .all-cards {
    flex-direction: column;
  }

  .about-section {
    flex-direction: column;
    padding: 6rem;
  }

  .sec-skills {
    padding: 0;
  }

  .about-me,
  .sec-skills {
    width: 100%;
  }
}

@media (max-width: 600px) {
  .card-content {
    padding: 15px 20px;
  }

  .skill-box {
    display: flex;
    align-items: center;
    gap: 25px;
    width: 100%;
    height: 6rem;
  }

  .lang {
    flex-direction: column;
  }

  .contact-info p {
    width: 80%;
  }
}
