* {
  margin: 0;
  padding: 0;
}

body {
  background-color: #f4f5f7;
}

nav {
  background-color: #fff;
}

.navbar {
  max-width: 1300px;
  margin: 0 auto;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 10px 142px;
}

.navbar h2 {
  color: #6070ff;
}

.nav-links {
  display: flex;
  gap: 20px;
}

.nav-links a {
  text-decoration: none;
  color: rgb(0, 0, 0);
}

.header-logo {
  display: flex;
  flex-direction: column;
  gap: 15px;
}

.Bold {
  font-size: 60px;
}

.hero-section-p {
  background-image: url("/assets/images/hero.png");
  background-position: center;
  background-size: contain;
  background-repeat: no-repeat;
  background-color: #fff;
  border-bottom-left-radius: 90px;
  padding: 250px;
}

.s-icon {
  display: flex;
  gap: 14px;
}

.s-icon img {
  width: 20px;
  height: 20px;
}

#f-link {
  color: #6070ff;
  padding-top: 15px;
}

.card-one {
  padding: 10px;
  background-color: white;
  display: flex;
  gap: 20px;
  border-radius: 30px;
}

.card-content {
  display: flex;
  flex-direction: column;
  gap: 30px;
  padding: 55px 20px;
}

.content-heading h3 {
  padding-bottom: 15px;
  font-size: 45px;
}

.info {
  display: flex;
  gap: 7px;
  align-items: center;
}

.light {
  opacity: 0.7;
  font-weight: 300;
}

.info img {
  height: 7px;
}

.content-lang {
  display: flex;
  gap: 10px;
}

.content-lang p {
  color: #6070ff;
  padding: 5px 10px;
  background-color: #ebebff;
  border-radius: 10px;
}

#btn {
  font-weight: bold;
  padding: 15px;
  width: 120px;
  border-radius: 10px;
  border: 1px solid #6070ff;
  color: #6070ff;
  background-color: white;;
}

.card-img img {
  margin: 15px;
  width: 544px;
  height: 448px;
}

.cards {
  display: flex;
  flex-direction: column;
  padding: 142px;
  gap: 142px;
  max-width: 1300px;
  margin: 0 auto;
}

.f-reverse {
  flex-direction: row-reverse;
}

.line {
  border-top: 1px solid #ccc;
  margin: 10px 0;
}

.sec-about,
.sec-skills {
  width: 50%;
  display: inline-block;
  vertical-align: top;
  padding: 20px;
  box-sizing: border-box;
}

.myself {
  background-color: white;
  padding: 20px;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  gap: 22px;
  max-width: 600px;
}

.myself h4 {
  color: #333;
}

.p-size {
  font-size: 20px;
}

.sec-skills {
  padding: 42px 20px;
  border-radius: 10px;
  max-width: 635px;
  display: flex;
  flex-direction: column;
  gap: 5px;
}

.bold-p {
  font-weight: bold;
  font-size: 19px;
  padding: 10px;
}

.line {
  border-top: 1px solid #ccc;
  margin: 10px 0;
}

.sec-3 {
  display: flex;
  background-color: white;
  padding: 142px;
  border-radius: 0 150px 0 0;
}

.Bold-h4 {
  font-size: 45px;
}

.boxs {
  background-color: #f7f7f9;
  width: 122px;
  height: 120px;
  padding: 12px;
}

.boxs img {
  display: flex;
}

.boxs p {
  display: flex;
  flex-direction: column;
  padding-top: 16px;
}

.lang {
  display: flex;
  gap: 12px;
  padding-bottom: 12px;
}

.arrow-style {
  display: flex;
  align-items: center;
}

.arrow-style img {
  padding-left: 430px;
}

.align {
  padding-right: 24px;
}

.align-2 {
  padding-right: 68px;
}

.btn-2 {
  font-weight: bold;
  font-size: 15px;
  width: 135px;
  height: 55px;
  border-radius: 10px;
  border: 1px solid #6070ff;
  color: #6070ff;
  background-color: white;
}

.contact-sec {
  background-color: #6070ff;
  background-image: url("./assets/images/bg-contact-form-big.png");
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
  padding: 100px 0;
}

.contact-wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 20px;
}

form {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

input {
  padding: 15px;
}

textarea {
  padding: 15px;
}

.mod {
  margin: 0 auto;
}

.main {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 20px;
  color: white;
}

.main p {
  text-align: center;
  width: 500px;
  font-size: 20px;
  line-height: 30px;
}

.main h5 {
  font-size: 50px;
}